extends layout

block content
  h1= title
  p Welcome to #{title}
  p A Backend developer with 4+ years of professional experience in .net 
  p Currently Pursuing Masters in Computer Science at North West Missouri State University.





